* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #4ce8f1;
   
    color: #222;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .mobile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
  }
  
  .temperature-converter {
    background: #fff;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px 45px;
    min-width: 320px;
    width: 100%;
    height: auto;
    box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(21px);
  }
  
  .title {
    background-color: aquamarine;
    border-radius: 10px;
    color: #222;
    font-size: 1.5rem;
    text-align: center;
  }
  .result {
    background-color: rgb(31, 201, 161);
    text-align: center;
    margin: 20px 0;
  }
  .result-heading {
    color:black;
    font-size: 1rem;
    font-weight: 600;
  }
  .celsius-value {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    transition: all .45s ease;
  }
  label {
    color: #555;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  input,
  select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
  }
  input:focus {
    border: 1px solid #e549f3;
  }
  .degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .degree-field {
    background-color:rgb(232, 196, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  option {
    background-color: #9763dd;
    color: #f6f6f6;
  }
  #convert-btn {
    background: linear-gradient(to bottom, #33c0f3, #120fb9);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 80px;
    transition: all 0.3s ease-in;
  }
  #convert-btn:hover {
    background: linear-gradient(to bottom, #783b90, #d95ae0);
  }
  #Reset-btn {
    background: linear-gradient(to bottom, #33c0f3, #120fb9);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 80px;
    transition: all 0.3s ease-in;
  }
  #Reset-btn:hover {
    background: linear-gradient(to bottom, #783b90, #d95ae0);
  }
  #exit-btn {
    background: linear-gradient(to bottom, #33c0f3, #120fb9);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 80px;
    transition: all 0.3s ease-in;
  }
  #exit-btn:hover {
    background: linear-gradient(to bottom, #783b90, #d95ae0);
  }
  
  /* Add a right margin to each icon */
  
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
  
  .loading {
    display: none;
  }